*{
    margin-left: 180px;
}
.red{
    height: 200px;
    width: 200px;
    background-color: red;
    border-radius: 50%;
    
}
.yellow{
    height: 200px;
    width: 200px;
    background-color: yellow;
    border-radius: 50%;
    
}
.green{
    height: 200px;
    width: 200px;
    background-color: green;
    border-radius: 50%;
    
}